<nav class="pagination" role="navigation">
    {{#if next}}
        <a class="pagination-prev" href="{{page_url next}}">{{> "icons/arrow" direction="left"}} {{t "Latests Posts"}}</a>
    {{/if}}
    {{#if prev}}
        <a class="pagination-next" href="{{page_url prev}}">{{t "Newest Posts"}} {{> "icons/arrow" direction="right"}}</a>
    {{/if}}
</nav>