<div class="subscribe{{#if card}} subscribe--card{{/if}}">
    <div class="subscribe-wrapper">
        <p class="subscribe-text">{{t "Subscribe to our new blog posts and to Cozy news."}}</p>
        <form class="subscribe-form" action="https://cozy.us4.list-manage.com/subscribe/post?u=e25ec3b4f8c222291f7d77997&amp;id=a9da8da0de" method="POST">
            <div class="subscribe-input">
                <label>
                    <input type="email" name="EMAIL" required placeholder="{{t "Your email"}}">
                </label>
            </div>
            <div class="subscribe-asimov" aria-hidden="true">
                <input type="text" name="b_e25ec3b4f8c222291f7d77997_a9da8da0de" tabindex="-1" value="">
            </div>
            <div class="subscribe-lang">
                <input type="hidden" value="{{t "newsletterLang"}}" name="group[125]">
            </div>
            <div class="subscribe-submit">
                <button type="submit">{{t "Subscribe"}}</button>
            </div>
        </form>
    </div>
</div>