<?xml version="1.0" encoding="UTF-8"?>
<svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Artboard-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M33.3357,0 L2.6547,0 C1.1897,0 -0.0003,1.162 -0.0003,2.596 L-0.0003,33.402 C-0.0003,34.836 1.1897,36 2.6547,36 L33.3357,36 C34.8047,36 35.9987,34.836 35.9987,33.402 L35.9987,2.596 C35.9987,1.162 34.8047,0 33.3357,0" id="Fill-1" fill="#1178B3"></path>
        <path d="M8.0076,4.956 C9.7156,4.956 11.1026,6.344 11.1026,8.053 C11.1026,9.762 9.7156,11.148 8.0076,11.148 C6.2926,11.148 4.9096,9.762 4.9096,8.053 C4.9096,6.344 6.2926,4.956 8.0076,4.956 Z M5.3346,30.676 L10.6786,30.676 L10.6786,13.496 L5.3346,13.496 L5.3346,30.676 Z" id="Fill-4" fill="#FEFEFE"></path>
        <path d="M14.0281,13.4961 L19.1461,13.4961 L19.1461,15.8451 L19.2191,15.8451 C19.9311,14.4941 21.6741,13.0691 24.2721,13.0691 C29.6771,13.0691 30.6761,16.6271 30.6761,21.2541 L30.6761,30.6761 L25.3391,30.6761 L25.3391,22.3211 C25.3391,20.3291 25.3031,17.7671 22.5631,17.7671 C19.7851,17.7671 19.3611,19.9371 19.3611,22.1791 L19.3611,30.6761 L14.0281,30.6761 L14.0281,13.4961 Z" id="Fill-6" fill="#FEFEFE"></path>
    </g>
</svg>
