<?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
    <title>icon-email</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="16px" stroke="none" stroke-width="1" fill-rule="evenodd" transform="translate(-352.000000, -192.000000)">
        <g id="slices" transform="translate(32.000000, 32.000000)"></g>
        <path d="M352,194.998957 C352,194.447248 352.444631,194 353.000872,194 L366.999128,194 C367.551894,194 368,194.44266 368,194.998957 L368,197 L360,200 L352,197 L352,194.998957 Z M352,199 L360,202 L368,199 L368,206.00297 C368,206.553614 367.555369,207 366.999128,207 L353.000872,207 C352.448106,207 352,206.546964 352,206.00297 L352,199 Z" id="icon-email--copy"></path>
    </g>
</svg>